.git
__pycache__
.pytest_cache
*.py[cod]
*.sqlite3
.pixi
.venv
env
build
dist
node_modules
apps/web/node_modules
apps/web/node_modules/**
frontend/cv-filter-fe/node_modules
frontend/cv-filter-fe/node_modules/**
